@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/bg-nintendo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
}

.description {
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin-left: 100px;
  color: #ffff;
}

.description .btn_on,
.description .btn_off {
  min-width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  -webkit-box-shadow: 0 5px #d90429;
          box-shadow: 0 5px #d90429;
}

.description .btn_on:hover,
.description .btn_off:hover {
  -webkit-box-shadow: 0 3px #d90429;
          box-shadow: 0 3px #d90429;
  top: 1px;
}

.description .btn_on:active,
.description .btn_off:active {
  -webkit-box-shadow: 0 0 #d90429;
          box-shadow: 0 0 #d90429;
  top: 5px;
}

.gameboy {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 422px;
  height: 697px;
  background: #EEE;
  border-radius: 10px 10px 60px 10px;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.gameboy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 31px;
  border-bottom: 4px solid #E0E0E0;
}

.gameboy::after {
  content: "";
  position: absolute;
  top: 0;
  width: 334px;
  height: 31px;
  border-left: 4px solid #E0E0E0;
  border-right: 4px solid #E0E0E0;
  margin: 0 40px 0 40px;
}

.gameboy .screen {
  position: relative;
  top: 60px;
  left: 40px;
  width: 342px;
  height: 272px;
  margin-bottom: 58px;
  background-color: #777;
  border-radius: 13px 13px 50px 13px;
}

.gameboy .screen header {
  position: relative;
  left: 10px;
  top: 5px;
  width: 100%;
  height: 30px;
  padding: 10px 20px 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  color: #b3b3b3;
}

.gameboy .screen header::before {
  content: '';
  position: absolute;
  left: 5px;
  width: 90px;
  height: 3px;
  background-color: #8b1d90;
  -webkit-box-shadow: 0 6px 0 #283593;
          box-shadow: 0 6px 0 #283593;
}

.gameboy .screen header::after {
  content: "";
  position: absolute;
  right: 25px;
  width: 38px;
  height: 3px;
  background-color: #8b1d90;
  -webkit-box-shadow: 0 6px 0 #283593;
          box-shadow: 0 6px 0 #283593;
}

.gameboy .screen .battery_point {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 125px;
  left: 20px;
  border-radius: 100%;
  background-color: #b98181;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.gameboy .screen .battery_point::before {
  content: "BATTERY";
  position: relative;
  top: 18px;
  left: -14px;
  font-size: 8px;
  font-family: sans-serif;
  color: #b3b3b3;
}

.gameboy .screen .battery_point.power-on {
  background-color: red;
  -webkit-box-shadow: 0 0 3px 1px #EF5350;
          box-shadow: 0 0 3px 1px #EF5350;
}

.gameboy .screen .green_screen {
  position: relative;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #bdae58;
  width: 225px;
  height: 205px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.gameboy .screen .green_screen.active {
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.gameboy .screen .animated-text {
  opacity: 0;
  display: inline;
  position: absolute;
  top: -26px;
  right: 0px;
  color: #8a891f;
  font-size: 23px;
  -webkit-transition: top 3s linear;
  transition: top 3s linear;
}

.gameboy .screen .animated-text.end {
  opacity: 1;
  top: 90px;
  left: 35%;
  -webkit-transition: top 3s linear;
  transition: top 3s linear;
}

.gameboy .screen .animated-text.end .copyright {
  position: relative;
  display: inline;
  top: -2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: monospace;
}

.gameboy .nintendo_model {
  position: absolute;
  top: 340px;
  left: 42px;
  color: #283593;
  font-family: 'Poppins', sans-serif;
}

.gameboy .nintendo_model .gb {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gameboy .nintendo_model .tm {
  text-transform: uppercase;
  font-size: 10px;
}

.gameboy .container-controls {
  display: block;
  position: relative;
  margin-top: 90px;
}

.gameboy .container-controls .cursor {
  position: relative;
  top: 60px;
  margin: 0 0 0 40px;
}

.gameboy .container-controls .cursor::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  background-color: #353535;
  border-radius: 100%;
}

.gameboy .container-controls .cursor .horizontal, .gameboy .container-controls .cursor .vertical {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 90px;
  background-color: #444;
  border-radius: 5px;
}

.gameboy .container-controls .cursor .horizontal::before, .gameboy .container-controls .cursor .vertical::before {
  content: '';
  position: relative;
  top: 102px;
  left: 9px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #5e5c5c;
}

.gameboy .container-controls .cursor .horizontal::after, .gameboy .container-controls .cursor .vertical::after {
  content: "";
  position: relative;
  top: -30px;
  left: -4px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #5e5c5c;
}

.gameboy .container-controls .cursor .horizontal {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.gameboy .container-controls .buttons {
  position: absolute;
  top: 72px;
  left: 252px;
  width: 130px;
  height: 60px;
  background: #DFDFDF;
  border-radius: 30px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.gameboy .container-controls .buttons .btn_a {
  position: absolute;
  z-index: 11;
  top: 63px;
  right: 61px;
  width: 44px;
  height: 44px;
  color: #283593;
  border-radius: 100%;
}

.gameboy .container-controls .buttons .btn_b {
  position: absolute;
  z-index: 11;
  top: 63px;
  right: -8px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  color: #283593;
}

.gameboy .container-controls .buttons::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 9px;
  width: 44px;
  height: 44px;
  background-color: #A93671;
  -webkit-box-shadow: 68px 0 #A93671;
          box-shadow: 68px 0 #A93671;
  border-radius: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gameboy .button_menu {
  position: absolute;
  top: 205px;
  left: 140px;
  height: 12px;
  width: 60px;
  background-color: #999;
  border-radius: 10px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-box-shadow: 57px 27px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
          box-shadow: 57px 27px #999, 0 0 0 5px #dfdfdf, 57px 27px 0 5px #dfdfdf;
}

.gameboy .button_menu::after {
  content: 'SELECT';
  position: absolute;
  top: 20px;
  left: 12px;
  height: 5px;
  width: 65px;
  font-size: 10px;
  color: #283593;
}

.gameboy .button_menu::before {
  content: 'MENU';
  position: absolute;
  top: 47px;
  left: 72px;
  height: 5px;
  width: 65px;
  font-size: 10px;
  color: #283593;
}

.gameboy .parlante {
  content: '';
  position: relative;
  height: 65px;
  width: 8px;
  top: 250px;
  left: 290px;
  background-color: #ddd;
  border-radius: 4px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-box-shadow: 20px 0 #ddd, 40px 0 #ddd, 60px 0 #ddd, 80px 0 #ddd, 100px 0 #ddd;
          box-shadow: 20px 0 #ddd, 40px 0 #ddd, 60px 0 #ddd, 80px 0 #ddd, 100px 0 #ddd;
}
